In [1]:
import pandas as pd

In [2]:
# Load the CSV file
df = pd.read_csv('share-of-medicaid-enrollees-in-managed-care.2022.csv')

In [3]:
df.head(10)

,State,Notes,Total Medicaid Enrollees,Individuals Enrolled (Any),Percent of all Medicaid enrollees (Any),Individuals Enrolled (Comprehensive),Percent of all Medicaid enrollees (Comprehensive),Year
0,TOTALS,NaN,"80,263,839","65,034,032",81.00%,"54,547,048",68.00%,2016
1,Arkansas5,Arkansas is unable to report enrollment as of ...,"1,026,621","512,041",49.90%,167,0.00%,2016
2,District of Columbia,NaN,"251,791","180,942",71.90%,"180,942",71.90%,2016
3,Wyoming,NaN,"64,442",391,0.60%,112,0.20%,2016
4,Pennsylvania,NaN,"2,753,618","2,521,421",91.60%,"2,233,115",81.10%,2016
5,Massachusetts,NaN,"1,889,306","1,268,120",67.10%,"874,367",46.30%,2016
6,North Dakota,NaN,"93,422","48,621",52.00%,"21,347",22.90%,2016
7,Michigan,NaN,"4,448,582","4,370,138",98.20%,"2,220,029",49.90%,2016
8,Virginia,NaN,"1,111,999","761,019",68.40%,"761,019",68.40%,2016
9,Hawaii,NaN,"358,302","354,289",98.90%,"354,289",98.90%,2016

In [4]:
df.columns

Index(['State', 'Notes', 'Total Medicaid Enrollees',
       'Individuals Enrolled (Any)', 'Percent of all Medicaid enrollees (Any)',
       'Individuals Enrolled (Comprehensive)',
       'Percent of all Medicaid enrollees (Comprehensive)', 'Year'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 8 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   State                                              399 non-null    object
 1   Notes                                              85 non-null     object
 2   Total Medicaid Enrollees                           371 non-null    object
 3   Individuals Enrolled (Any)                         371 non-null    object
 4   Percent of all Medicaid enrollees (Any)            371 non-null    object
 5   Individuals Enrolled (Comprehensive)               371 non-null    object
 6   Percent of all Medicaid enrollees (Comprehensive)  371 non-null    object
 7   Year                                               399 non-null    int64
dtypes: int64(1), object(7)
memory usage: 25.1+ KB

In [6]:
clean_df = df[['State', 'Total Medicaid Enrollees', 'Year']].copy()

In [7]:
clean_df['Total Medicaid Enrollees'] = pd.to_numeric(clean_df['Total Medicaid Enrollees'].str.replace(',', ''), errors='coerce')

In [8]:
missing_values = clean_df.isnull().sum()
print(missing_values)

State                        0
Total Medicaid Enrollees    28
Year                         0
dtype: int64

In [9]:
state_counts = clean_df['State'].value_counts()
print("States that appear more than once:")
print(state_counts[state_counts > 1])

States that appear more than once:
State
TOTALS                  7
District of Columbia    7
Pennsylvania            7
North Dakota            7
Massachusetts           7
                       ..
Oregon8                 2
Vermont8                2
Michigan7               2
Connecticut5            2
Kentucky                2
Name: count, Length: 64, dtype: int64

In [10]:
latest_by_state = clean_df.sort_values('Year', ascending=False).drop_duplicates(subset=['State'], keep='first')
print(f"\nNumber of rows after keeping only the most recent entry per state: {len(latest_by_state)}")

Number of rows after keeping only the most recent entry per state: 71

In [11]:
with pd.option_context('display.max_rows', None):
    print(latest_by_state)

                        State  Total Medicaid Enrollees  Year
398                   Wyoming                   83379.0  2022
397                 Wisconsin                 1593772.0  2022
396             West Virginia                  660068.0  2022
395                Washington                 2229539.0  2022
394                  Virginia                 1978005.0  2022
393            Virgin Islands                       NaN  2022
392                   Vermont                  199989.0  2022
391                      Utah                  477832.0  2022
375                New Jersey                 2022155.0  2022
374             New Hampshire                  256087.0  2022
373                    Nevada                  923168.0  2022
372                  Nebraska                  374783.0  2022
371                   Montana                  289659.0  2022
370                  Missouri                 1278851.0  2022
369               Mississippi                  858687.0  2022
368                 Minnesota                 1348563.0  2022
367                  Michigan                 3092404.0  2022
366             Massachusetts                 2091955.0  2022
365                  Maryland                 1734624.0  2022
364                     Maine                  393783.0  2022
363                 Louisiana                 1985537.0  2022
362                  Kentucky                 1651543.0  2022
361                    Kansas                  525725.0  2022
360                      Iowa                  803050.0  2022
359                   Indiana                 2070992.0  2022
358                  Illinois                 3726082.0  2022
357                     Idaho                  424893.0  2022
356                    Hawaii                  450268.0  2022
355                      Guam                       NaN  2022
354                   Georgia                 2734003.0  2022
353                   Florida                 5399695.0  2022
352      District of Columbia                  300381.0  2022
351                  Delaware                  302869.0  2022
350               Connecticut                 1140225.0  2022
349                  Colorado                 1608310.0  2022
348                California                15136020.0  2022
347                  Arkansas                 1763975.0  2022
346                   Arizona                 2412424.0  2022
345            American Samoa                       NaN  2022
344                    Alaska                  254283.0  2022
343                   Alabama                 1287819.0  2022
342                    TOTALS                98019715.0  2022
384              Pennsylvania                 3534344.0  2022
389                 Tennessee                 1817119.0  2022
377                  New York                 7589766.0  2022
382                  Oklahoma                 1273948.0  2022
381                      Ohio                 3425876.0  2022
380  Northern Mariana Islands                       NaN  2022
376                New Mexico                  984008.0  2022
378            North Carolina                 2804306.0  2022
383                    Oregon                 1393623.0  2022
387            South Carolina                 1550759.0  2022
385               Puerto Rico                 1597058.0  2022
379              North Dakota                  133631.0  2022
388              South Dakota                  149096.0  2022
390                     Texas                 5543480.0  2022
386              Rhode Island                  357304.0  2022
341                  Wyoming9                   73227.0  2021
310               Michigan6,7                 2900801.0  2021
305                 Kentucky                  1584976.0  2021
326                   Oregon8                 1286095.0  2021
287                   Alaska4                  242176.0  2021
293              Connecticut5                 1106169.0  2021
240                  Georgia6                 2288352.0  2020
253                 Michigan7                 2573851.0  2020
221                  Vermont8                  166114.0  2019
183                  Georgia7                 1917560.0  2019
179              Connecticut6                  837367.0  2019
178                 Colorado5                 1231952.0  2019
55                 Tennessee7                 1684268.0  2016
1                   Arkansas5                 1026621.0  2016

In [12]:
territories = [
    "Puerto Rico", "Guam", "Virgin Islands", "American Samoa", "Northern Mariana Islands", "TOTALS"
]

In [13]:
latest_by_state = latest_by_state[
    (~latest_by_state['State'].isin(territories)) &
    (~latest_by_state['State'].str.contains(r'\d', regex=True))
]

In [14]:
print(f"\nNumber of rows after cleaning: {len(latest_by_state)}")
with pd.option_context('display.max_rows', None):
    print(latest_by_state)

Number of rows after cleaning: 52
                    State  Total Medicaid Enrollees  Year
398               Wyoming                   83379.0  2022
397             Wisconsin                 1593772.0  2022
396         West Virginia                  660068.0  2022
395            Washington                 2229539.0  2022
394              Virginia                 1978005.0  2022
392               Vermont                  199989.0  2022
391                  Utah                  477832.0  2022
375            New Jersey                 2022155.0  2022
374         New Hampshire                  256087.0  2022
373                Nevada                  923168.0  2022
372              Nebraska                  374783.0  2022
371               Montana                  289659.0  2022
370              Missouri                 1278851.0  2022
369           Mississippi                  858687.0  2022
368             Minnesota                 1348563.0  2022
367              Michigan                 3092404.0  2022
366         Massachusetts                 2091955.0  2022
365              Maryland                 1734624.0  2022
364                 Maine                  393783.0  2022
363             Louisiana                 1985537.0  2022
362              Kentucky                 1651543.0  2022
361                Kansas                  525725.0  2022
360                  Iowa                  803050.0  2022
359               Indiana                 2070992.0  2022
358              Illinois                 3726082.0  2022
357                 Idaho                  424893.0  2022
356                Hawaii                  450268.0  2022
354               Georgia                 2734003.0  2022
353               Florida                 5399695.0  2022
352  District of Columbia                  300381.0  2022
351              Delaware                  302869.0  2022
350           Connecticut                 1140225.0  2022
349              Colorado                 1608310.0  2022
348            California                15136020.0  2022
347              Arkansas                 1763975.0  2022
346               Arizona                 2412424.0  2022
344                Alaska                  254283.0  2022
343               Alabama                 1287819.0  2022
384          Pennsylvania                 3534344.0  2022
389             Tennessee                 1817119.0  2022
377              New York                 7589766.0  2022
382              Oklahoma                 1273948.0  2022
381                  Ohio                 3425876.0  2022
376            New Mexico                  984008.0  2022
378        North Carolina                 2804306.0  2022
383                Oregon                 1393623.0  2022
387        South Carolina                 1550759.0  2022
379          North Dakota                  133631.0  2022
388          South Dakota                  149096.0  2022
390                 Texas                 5543480.0  2022
386          Rhode Island                  357304.0  2022
305             Kentucky                  1584976.0  2021

In [15]:
clean_df = latest_by_state.copy()

In [19]:
ER_VISITS_PER_PERSON = 0.427  # 42.7 visits per 100 people
COST_PER_ER_VISIT = 1700  # Cost per ER visit in USD

In [20]:
clean_df["Estimated ER Cost Without Medicaid"] = (
    clean_df["Total Medicaid Enrollees"] * ER_VISITS_PER_PERSON * COST_PER_ER_VISIT
)

In [24]:
clean_df["Estimated ER Cost Without Medicaid"] = clean_df["Estimated ER Cost Without Medicaid"].astype(int)

In [26]:
year_column = clean_df.pop("Year")

In [27]:
clean_df["Year"] = year_column

In [28]:
clean_df.head()

,State,Total Medicaid Enrollees,Estimated ER Cost Without Medicaid,Year
398,Wyoming,83379.0,60524816,2022
397,Wisconsin,1593772.0,1156919094,2022
396,West Virginia,660068.0,479143361,2022
395,Washington,2229539.0,1618422360,2022
394,Virginia,1978005.0,1435833829,2022

In [29]:
clean_df.to_csv('medicaid-enrollees-er-burden.csv', index=False)